@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte-principal: 'Urbanist', Calibri, 'Trebuchet MS', sans-serif;
    
    /* COLORS  */
    --primary-color: hsl(20, 10%, 20%);
    --primary-color-darker: hsl(20, 10%, 15%);
    --primary-color-lighter: hsl(20, 10%, 30%);

    --secondary-color: hsl(20, 10%, 85%);
    --secondary-color-darker: hsl(20, 10%, 80%);
    --secondary-color-lighter: hsl(20, 10%, 90%);

    --tertiary-color: hsl(20, 40%, 70%);
    --tertiary-color-darker: hsl(20, 40%, 65%);
    --tertiary-color-lighter: hsl(20, 40%, 75%);

    --light-color:hsl(20, 10%, 90%);
    --dark-color:hsl(0, 0%, 0%);
    --neutral-color:hsl(0, 0%, 80%);

    --success-color:hsl(100, 100%, 70%);
    --warning-color:hsl(50, 100%, 70%);
    --danger-color:hsl(0, 100%, 70%);

    --shadow-box: 0px 12px 10px hsla(20, 10%, 20%, 0.1);

    --width-app: clamp(300px, 90vw, 500px);
}

body {
    font-family: var(--fonte-principal);
    display: flex;
    background-color: var(--neutral-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--primary-color);
}

.app {
    width: var(--width-app);
    background-color: var(--light-color);
    box-shadow: var(--shadow-box);
    display: flex;
    flex-direction: column;
    aspect-ratio: 9/16;
    max-height: 90vh;
}

header {
    height: 10%;
}

main{
    flex:1;
    height: 90%;
}

.title {
    padding: 1em;
    text-align: center;
}

.form {
    display: flex;
    padding: 0.5ch 1ch;
    box-shadow: var(--shadow-box);
    height: 10%;
    gap: 0.5ch;
    font-size: 1.8rem;
}

.form__input {
    flex: 9;
    border-radius: 1ch;
    border: none;
    background-color: var(--secondary-color);
    padding: 2ch;
}
.form__input:focus {
    outline-color: var(--tertiary-color);
}

.form__button {
    flex: 1;
    padding: 3ch;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 10%;
    border: none;
}

.form__button:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/*=============area da lista=============*/

.list-area {
    flex: 1 0 auto;
    display: flex;
    flex-direction:column;
    padding: 2em 1em;
    gap: 1ch;
    overflow-y: auto;
    height: 90%;
}


.anotation-card  {
    display: flex;
    align-items: center;
    gap: 1ch;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 1ch;
    border-radius: 1ch;
}

.anotation-card__text {
    flex: 1;
    word-wrap: break-word;
    overflow: hidden;
}
    
.anotation-card__button {
    font-size: 1em;
    color: var(--primary-color);
    padding: 1ch;
    border: none;
    background-color: transparent;
}

.anotation-card__button:hover {
    color: var(--tertiary-color);
    transition: 0.2s;
}

/* footer*/
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 1em;
}

/* CHECKBOX  */

.check-box {
    display: none;
}
  
.check-box + label {
display: inline-block;
width: 20px;
height: 20px;
border: 2px solid var(--primary-color);
border-radius: 4px;
position: relative;
cursor: pointer;
vertical-align: middle;
transition: background 0.3s, border-color 0.3s;
}

.check-box:checked + label {
background: var(--tertiary-color);
border-color: var(--tertiary-color)
}

.check-box:checked + label::after {
content: "✔";
position: absolute;
top: 0px;
left: 3px;
font-size: 0.8em;
color: white;
}

.check-box:checked ~ p {
text-decoration: line-through;
text-decoration-color: var(--primary-color);
}


