@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-principal: 'Urbanist', Calibri, 'Trebuchet MS', sans-serif;

    --shadow-box: 0px 12px 10px hsla(20, 10%, 20%, 0.1);

    --width-app: clamp(300px, 90vw, 450px);
    --height-app: clamp(500px, 90vh, 750px);
    
    /* COLORS  */
    --primary-color: hsl(20, 10%, 20%);
    --primary-color-darker: hsl(20, 10%, 15%);
    --primary-color-lighter: hsl(20, 10%, 30%);

    --secondary-color: hsl(20, 10%, 85%);
    --secondary-color-darker: hsl(20, 10%, 80%);
    --secondary-color-lighter: hsl(20, 10%, 90%);

    --tertiary-color: hsl(20, 40%, 70%);
    --tertiary-color-darker: hsl(20, 40%, 65%);
    --tertiary-color-lighter: hsl(20, 40%, 75%);

    --light-color:hsl(20, 10%, 90%);
    --dark-color:hsl(0, 0%, 0%);
    --neutral-color:hsl(0, 0%, 80%);

    --success-color:hsl(100, 100%, 70%);
    --warning-color:hsl(50, 100%, 70%);
    --danger-color:hsl(0, 100%, 70%);

    
    /* SPACES  */
    --space-xs: clamp(0.375rem, 0.3029rem + 0.2885vw, 0.5625rem);
    --space-s: clamp(0.75rem, 0.6058rem + 0.5769vw, 1.125rem);
    --space-m: clamp(1.125rem, 0.9087rem + 0.8654vw, 1.6875rem);
    --space-l: clamp(1.5rem, 1.2115rem + 1.1538vw, 2.25rem);
    --space-xl: clamp(2.25rem, 1.8173rem + 1.7308vw, 3.375rem);

    /* FONTS */
/* @link https://utopia.fyi/type/calculator?c=360,16,1.333,1980,18,1.618,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

	
	--fsize--2: max(clamp(0.4rem, 0.6rem + -0.13vw, 0.6rem),clamp(0.4rem, 0.6rem + -0.13vh, 0.6rem));
	--fsize--1: max(clamp(0.7rem, 0.8rem + -0.05vw, 0.8rem),clamp(0.7rem, 0.8rem + -0.05vh, 0.8rem));
	--fsize-0: max(clamp(1rem, 0.9rem + 0.2vw, 1.2rem),clamp(1rem, 0.9rem + 0.2vh, 1.2rem));
	--fsize-1: max(clamp(1.3rem, 1.1rem + 0.6vw, 1.8rem),clamp(1.3rem, 1.1rem + 0.6vh, 1.8rem));
	--fsize-2: max(clamp(1.5rem, 1.2rem + 1.4vw, 2.9rem),clamp(1.5rem, 1.2rem + 1.4vh, 2.9rem));
	--fsize-3: max(clamp(2rem, 1.3rem + 2.7vw, 4.7rem),clamp(2rem, 1.3rem + 2.7vh, 4.7rem));

	--font-hero: 800 var(--fsize-3) "Urbanist", sans-serif;
	--font-nav: 400 var(--fsize-1) "Urbanist", sans-serif;
	--font-title: 800 var(--fsize-1) "Urbanist", sans-serif;
	--font-description: 500 var(--fsize-0) "Urbanist", sans-serif;
	--font-title2: 300 var(--fsize--1)  "Urbanist", sans-serif;
	--font-description2: 300 var(--fsize--2)  "Urbanist", sans-serif;


	/* SIZES  */
	--fluid-4-24: clamp(0.25rem, -0.1204rem + 1.8519vw, 0.5rem);
	--fluid-6-12: clamp(0.375rem, -0.0776rem + 1.0345vw, 0.75rem);
	--fluid-52-100: clamp(3.25rem, -0.3707rem + 8.2759vw, 6.7rem);
}

body {
    font-family: var(--font-principal);
    display: flex;
    background-color: var(--neutral-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--primary-color);
}

.app {
    width: var(--width-app);
    background-color: var(--light-color);
    box-shadow: var(--shadow-box);
    display: flex;
    flex-direction: column;
    height: var(--height-app);
    aspect-ratio: 9/16;
}

header {
    height: 10%;
}

main{
    flex:1;
    height: 90%;
}

.title {
    padding: var(--space-m);
    text-align: center;
    font-size: var(--fsize-1);
}

.form {
    display: flex;
    padding: var(--space-xs) var(--space-s);
    box-shadow: var(--shadow-box);
    height: 10%;
    gap: var(--space-xs);
}

.form__input {
    flex: 9;
    border-radius: var(--space-xs);
    border: none;
    background-color: var(--secondary-color);
    padding: var(--space-xs);
}
.form__input:focus {
    outline-color: var(--tertiary-color);
}

.form__button {
    flex: 1;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: var(--space-xs);
    border-radius: var(--space-xs);
}

.form__button:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/*=============area da lista=============*/

.list-area {
    flex: 1 0 auto;
    display: flex;
    flex-direction:column;
    padding: var(--space-m);
    gap: var(--space-xs);
    overflow-y: auto;
    height: 90%;
}


.anotation-card  {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: var(--space-s) var(--space-m);
    border-radius: var(--space-xs);
}

.anotation-card__text {
    flex: 1;
    word-wrap: break-word;
    overflow: hidden;
}
    
.anotation-card__button {
    font-size: var(--fsize-1);
    color: var(--primary-color);
    border: none;
    background-color: transparent;
}

.anotation-card__button:hover {
    color: var(--tertiary-color);
    transition: 0.3s;
}

/* footer*/
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: var(--space-s);
}

/* CHECKBOX  */

.check-box {
    display: none;
}
  
.check-box + label {
display: inline-block;
width: var(--space-m);
height: var(--space-m);
border: 1.5px solid var(--primary-color);
border-radius: var(--space-xs);
position: relative;
cursor: pointer;
vertical-align: middle;
transition: background 0.3s, border-color 0.3s;
}

.check-box:checked + label {
background: var(--tertiary-color);
border-color: var(--tertiary-color)
}

.check-box:checked + label::after {
content: "✔";
position: absolute;
top: -1px;
left: 18%;
font-size: var(--fsize-0);
color: var(--light-color);
}

.check-box:checked ~ p {
text-decoration: line-through;
text-decoration-color: var(--primary-color);
}
